* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  font-family: 'Arial', sans-serif;
}

h1 {
  padding-bottom: 30px;
}

h2 {
  margin: 0 0 20px;
}

tr {
  background-color: lightgrey;
  display: flex;
  justify-content: space-between;
}

table {
  border-collapse: collapse;
  width: 100%;
  min-width: 300px;
}

th,
td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: grey;
  color: white;
}

tr:nth-child(even) {
  background-color: lightgreen;
}

tr:hover {
  background-color: green;
  color: white;
}

.divider {
  background-color: lightgreen;
  width: 100px;
  height: 2px;
  margin: 0 0 20px;
}

td {
  height: 40px;
}

#form {
  display: flex;
  flex-direction: column;
}

#submit {
  align-self: flex-end;
}

#submit:hover {
  background-color: green;
  color: white;
}

#submit:active {
  background-color: darkgreen;
}

#submit:focus {
  outline: none;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: self-end;
  gap: 1rem;
}

.hidden-section ul li {
  font-weight: 400;
  font-size: 0.97rem;
  list-style: circle;
}

/* NAVIGATION */
nav {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border: 1px solid rgb(106, 106, 106);
  border-radius: 0.3rem;
  width: 90%;
  margin: 1rem auto 0;
}

nav > a {
  color: rgb(106, 106, 106);
  font-weight: 700;
  font-size: 1.2rem;
}

nav ul a {
  font-weight: 700;
  color: rgb(106, 106, 106);
}

nav ul a:active {
  font-weight: bolder;
}
