* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  font-family: 'Arial', sans-serif;
}

h1 {
  padding-bottom: 30px;
}

h2 {
  margin: 0 0 20px;
}

tr {
  background-color: lightgrey;
  display: flex;
  justify-content: space-between;
}

table {
  border-collapse: collapse;
  width: 100%;
  min-width: 300px;
}
th,
td {
  text-align: left;
  padding: 8px;
}
th {
  background-color: grey;
  color: white;
}
td {
  border-bottom: 1px solid grey;
}

tr:nth-child(even) {
  background-color: lightgreen;
}

tr:hover {
  background-color: green;
  color: white;
}
.divider {
  background-color: lightgreen;
  width: 100px;
  height: 2px;
  margin: 0 0 20px;
}
td {
  height: 40px;
}
#form {
  display: flex;
  flex-direction: column;
}

#submit {
  align-self: flex-end;
}

#submit:hover {
  background-color: green;
  color: white;
}

#submit:active {
  background-color: darkgreen;
}

#submit:focus {
  outline: none;
}
